<%= render 'shared/flash_messages' %> 

<div class="container-list">
    <%= form_with model: @card, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
    
      <div class="form-group">
        <div class="text-center">
          <h1><%= f.label :カードタイトル %></h1>
        </div>
      </div>
      <%= f.text_field :title, autofocus: true, class: "form-control form-f", placeholder: "カード名", required: true, minlength: '1', maxlength: '255' %>

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control form-f", placeholder: "詳細", required: true, minlength: '1', maxlength: '1000' %>
      </div>

      <div class="form-group">
        <label>リスト名</label>
        <%= select :card, :list_id, @lists.map{ |l| [l.title, l.id] }, {}, { class: "form-control" } %>
      </div>

      <div class="text-center">
        <%= f.submit "更新する", class: "btn btn-success btn-lg sub-btn" %>
        <%= link_to '戻る', list_index_path, class: "btn btn-lg btn-secondary sub-btn" %>
      </div>
    <% end %>
</div>