<%= render 'shared/flash_messages' %> 

<div class="container-list">
    <%= form_with model: @card, url: { action: :create }, html: { class: 'cardnewForm' }, local: true do |f| %>
    <%= f.hidden_field :list_id, value: @list.id %>
    
      <div class="form-group">
        <div class="text-center">
          <h2><%= f.label :title %></h2>
        </div>
      </div>
      <%= f.text_field :title, autofocus: true, class: "form-control form-f", placeholder: "カード名", required: true, minlength: '1', maxlength: '255' %>

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control form-f", placeholder: "詳細", required: true, minlength: '1', maxlength: '1000' %>
      </div>

      <div class="text-center">
        <%= f.submit "作成する", class: "btn btn-success btn-lg sub-btn" %>
        <%= link_to '戻る', list_index_path, class: "btn btn-lg btn-secondary sub-btn" %>
      </div>
    <% end %>
</div>