<%= render 'shared/flash_messages' %> 

<div class="container-list">
    <%= form_with model: @list, url: { action: :create }, class: "new_list", local: true do |f| %>
      <%
=begin%>
 <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %> 
<%
=end%>
      <div class="form-group">
        <h1 class="text-center"><%= f.label :リストタイトル %></h1>
      </div>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "リスト名を入力してください", required: true, minlength: '1', maxlength: '255' %>

      <div class="form-group">
        <%= f.label :audio, "声に出してコミットしてみよう", class: "image_input_btn" %>
        <%= f.file_field :audio, class: "image_form" %>
      </div>

      <div class="text-center">
        <%= f.submit "作成する", class: "btn btn-success btn-lg sub-btn" %>
        <%= link_to '戻る', list_index_path, class: "btn btn-lg btn-secondary sub-btn" %>
      </div>
    <% end %>
</div>