<%= render 'shared/flash_messages' %> 

<div class="container-list">
    <%= form_with model: @list, url: { action: :create }, class: "new_list", local: true do |f| %>
      <%
=begin%>
 <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %> 
<%
=end%>
      <div class="form-group">
        <h2 class="text-center"><%= f.label :title %></h2>
      </div>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "リスト名を入力してください", required: true, minlength: '1', maxlength: '255' %>

      <div class="form-group">
        <%= f.label :audio %>
        <%= f.file_field :audio %>
      </div>

      <div class="text-center">
        <%= f.submit "作成する", class: "btn btn-success btn-lg sub-btn" %>
      </div>
    <% end %>
</div>