<header class="navbar navbar-fixed-top navbar-inverse bg-info" >
  <div class="container">
    <%= link_to "VoiceToDo", root_path, id: "logo" %>
    <nav class="navbar navbar-expand navbar-dark fixed-left">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to new_list_path, class: "nav-link" do %>
              <span class="mr-1">リストを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "リスト一覧", list_index_path(:show=>'all'), class: 'nav-link' %>
          </li>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
              <%= link_to 'アカウント編集', edit_user_registration_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        <% else %>
          <li class="nav-item active">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>